# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/

# Data / DB / exports
data/
exports/
*.duckdb
*.db
*.sqlite
*.parquet
*.csv

# Models / artifacts
models/
reports/
*.joblib
*.pkl

# Editor
.vscode/
.DS_Store
